.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  height: 40px;
  background: #0d57a0;
}
.title p {
  margin: 10px 0px;
  font-size: 1.1rem;
}

.actions {
  right: 20px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions div {
  margin-left: 10px;
}
.actions div:hover {
  color: #45acdd;
}
@media screen and (min-width: 3439px) {
  .title {
    height: 60px;
  }
  .title p {
    font-size: 1.4rem;
  }
}
